Repository arxlang/pyarx: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, ruff, bandit, vulture, mccabe

black:
  name: black
  entry: black
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy
  language: system
  pass_filenames: true

ruff:
  name: ruff
  entry: ruff
  language: system
  pass_filenames: true

bandit:
  name: bandit
  entry: bandit
  args:
  - -iii
  - -ll
  - .bandit
  language: system
  pass_filenames: true

vulture:
  entry: vulture
  language: system
  name: vulture
  description: Find unused Python code.
  pass_filenames: true

mccabe:
  name: mccabe
  entry: flake8 --max-complexity 10
  language: python
  pass_filenames: true

fix last pieces
  .makim.yaml
  poetry.lock
  pyproject.toml
  src/arx/codegen/ast_output.py
  src/arx/codegen/base.py
  src/arx/codegen/file_object.py
  src/arx/parser.py
  tests/test_codegen_ast_output.py
  tests/test_codegen_file_object.py
  tests/test_parser.py
Due: black, mypy, ruff, bandit, vulture, mccabe

feat: Add support for blocks of nodes (#6)
  .makim.yaml
  conda/dev.yaml
  examples/average.arx
  examples/constant.arx
  examples/fibonacci.arx
  examples/sum.arx
  poetry.lock
  pyproject.toml
  src/arx/__main__.py
  src/arx/ast.py
  src/arx/cli.py
  src/arx/codegen/ast_output.py
  src/arx/codegen/base.py
  src/arx/codegen/file_object.py
  src/arx/exceptions.py
  src/arx/io.py
  src/arx/lexer.py
  src/arx/logs.py
  src/arx/main.py
  src/arx/parser.py
  tests/test_codegen_ast_output.py
  tests/test_codegen_file_object.py
  tests/test_io.py
  tests/test_lexer.py
  tests/test_logs.py
  tests/test_parser.py
Due: black, mypy, ruff, bandit, vulture, mccabe

feat: Move the AST output to YAML format
  poetry.lock
  pyproject.toml
  src/arx/codegen/ast_output.py
  src/arx/codegen/base.py
  src/arx/codegen/file_object.py
Due: black, mypy, ruff, bandit, vulture, mccabe

feat: Move the AST output to YAML format (#7)
  poetry.lock
  pyproject.toml
  src/arx/codegen/ast_output.py
  src/arx/codegen/base.py
  src/arx/codegen/file_object.py
Due: black, mypy, ruff, bandit, vulture, mccabe

remove dependency on Lexer inside Parser, part 1
  .makim.yaml
  src/arx/ast.py
  src/arx/cli.py
  src/arx/lexer.py
  src/arx/main.py
  tests/test_lexer.py
Due: black, mypy, ruff, bandit, vulture, mccabe

Implement the new lexer approach on Parser
  src/arx/parser.py
  tests/test_parser.py
Due: black, mypy, ruff, bandit, vulture, mccabe

rename lexer object and its run function
  src/arx/ast.py
  src/arx/lexer.py
  src/arx/main.py
  src/arx/parser.py
  tests/test_lexer.py
  tests/test_parser.py
Due: black, mypy, ruff, bandit, vulture, mccabe

Fix module for emitting AST output
  src/arx/codegen/ast_output.py
  src/arx/codegen/base.py
  tests/test_codegen_ast_output.py
Due: black, mypy, ruff, bandit, vulture, mccabe

input_files argument should be an optional multiple argument
  src/arx/cli.py
Due: black, mypy, ruff, bandit, vulture, mccabe

Fix remain issues
  src/arx/codegen/file_object.py
Due: black, mypy, ruff, bandit, vulture, mccabe

feat: Support multiple input files (#8)
  .makim.yaml
  src/arx/ast.py
  src/arx/cli.py
  src/arx/codegen/ast_output.py
  src/arx/codegen/base.py
  src/arx/codegen/file_object.py
  src/arx/lexer.py
  src/arx/main.py
  src/arx/parser.py
  tests/test_codegen_ast_output.py
  tests/test_lexer.py
  tests/test_parser.py
Due: black, mypy, ruff, bandit, vulture, mccabe

fix docs issues
  docs/index.md
  mkdocs.yaml
Due: none

fix makim command in the contributing.md
  docs/contributing.md
Due: none

docs: Fix docs CI workflow dispatch
  .github/workflows/docs.yaml
Due: none

fix issues with 3.10 as integer
  .github/workflows/docs.yaml
Due: none

add condition
  .github/workflows/docs.yaml
Due: none

docs: Fix docs CI workflow dispatch (#11)
  .github/workflows/docs.yaml
Due: none

feat: Move local implemention for AST to ASTx
  examples/average.arx
  poetry.lock
  pyproject.toml
  src/arx/ast.py
  src/arx/codegen.py
  src/arx/codegen/__init__.py
  src/arx/codegen/ast_output.py
  src/arx/codegen/base.py
  src/arx/codegen/file_object.py
  src/arx/lexer.py
  src/arx/main.py
  src/arx/parser.py
  tests/test_parser.py
Due: black, mypy, ruff, bandit, vulture, mccabe

fix import
  .github/workflows/main.yaml
  tests/test_codegen_file_object.py
Due: black

fix documentation
  docs/api/ast.md
  docs/api/cli.md
  docs/api/codegen/ast-output.md
  docs/api/codegen/file-object.md
  docs/api/io.md
  docs/api/lexer.md
  docs/api/logs.md
  docs/api/main.md
  docs/api/parser.md
  docs/api/semantic.md
  mkdocs.yaml
  poetry.lock
  pyproject.toml
  scripts/gen_ref_nav.py
  tests/test_codegen_ast_output.py
Due: black

update astx and irx
  poetry.lock
  pyproject.toml
  src/arx/parser.py
Due: black, mypy, ruff, bandit, vulture, mccabe

fix tests
  tests/test_lexer.py
Due: black

fix some smoke tests
  .makim.yaml
  examples/print-star.arx
  poetry.lock
  pyproject.toml
Due: none

Path conditions:
  black: any of: \.py$
  mypy: any of: src/arx/ and \.py$
  ruff: any of: src/arx/ and \.py$
  bandit: any of: src/arx/ and \.py$
  vulture: any of: src/arx/ and \.py$
  mccabe: any of: src/arx/ and \.py$
